@use "@angular/material" as mat;

// 1. Basic configuration.
@include mat.core();

$eco-primary: mat.define-palette(mat.$green-palette, 600, 700, 300);
$eco-accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400);
$eco-warn: mat.define-palette(mat.$red-palette);

// 3. Tipografía
$eco-typography: mat.define-typography-config(
  $font-family: 'Roboto, "Helvetica Neue", sans-serif',
  $headline-1: mat.define-typography-level(32px, 48px, 700),
  $body-1: mat.define-typography-level(16px, 24px, 400),
);

$eco-theme: mat.define-light-theme(
  (
    color: (
      primary: $eco-primary,
      accent: $eco-accent,
      warn: $eco-warn,
    ),
    typography: $eco-typography,
    density: 0,
  )
);

@include mat.all-component-themes($eco-theme);

html,
body {
  height: 100%;
  margin: 0;
  background-color: #f9fbf9;
  color: #2c3e50;
}

.mat-raised-button,
.mat-flat-button {
  border-radius: 20px !important;
}

.nav-logo {
  height: 60px !important;
  width: auto !important;
  margin-right: 4px;
  vertical-align: middle;
  object-fit: contain;
}

.cdk-overlay-container {
  z-index: 2000 !important;
}

.mat-mdc-tooltip-panel {
  // Empujamos el tooltip 12px hacia abajo para que respire fuera de la barra de 85px
  margin-top: 12px !important;
}

.mat-mdc-tooltip .mdc-tooltip__surface {
  background-color: rgba(
    44,
    62,
    80,
    0.9
  ) !important; // Un tono azulado oscuro acorde a tu color de texto
  font-size: 12px !important;
}
